Repository comyata/comyata: changes, and which Codecov flags are due for each by the changed paths.
All: run, fe

rename sonarcloud file;
  sonar-project.properties
Due: none

adj. sonar sources
  sonar-project.properties
Due: none

add TS non-null assertion, remove type guards in loops; any to unknown;
  package-lock.json
  packages/comyata-fe/Helpers/Stats.ts
  packages/comyata-run/DataNode.ts
  packages/comyata-run/Errors.ts
  packages/comyata-run/Parser.ts
  packages/comyata-run/Runtime.ts
Due: run, fe

switch Parser + Runtime loop `shift` to `pop`, add ordered-output tests;
  packages/comyata-run/Parser.ts
  packages/comyata-run/Runtime.ts
  packages/comyata-run/tests/Parser.test.ts
  packages/comyata-run/tests/Runtime.test.ts
Due: run

improve Parser dataNodeParsers, parse loop, matchText checks;
  packages/comyata-run/Parser.ts
  packages/comyata-run/tests/Parser.test.ts
Due: run

v bump; readme; add minimal-runtime example;
  README.md
  apps/minimal-runtime/.codesandbox/icon.png
  apps/minimal-runtime/.codesandbox/tasks.json
  apps/minimal-runtime/.codesandbox/template.json
  apps/minimal-runtime/.devcontainer/devcontainer.json
  apps/minimal-runtime/.gitignore
  apps/minimal-runtime/.prettierrc
  apps/minimal-runtime/.stackblitzrc
  apps/minimal-runtime/README.md
  apps/minimal-runtime/package.json
  apps/minimal-runtime/src/index.ts
  apps/minimal-runtime/ts-node.register.mjs
  apps/minimal-runtime/tsconfig.json
  apps/sandbox/.prettierrc
  apps/sandbox/README.md
  apps/sandbox/package.json
  apps/sandbox/src/Components/CustomCodeMirror.tsx
  apps/sandbox/src/Components/ProgressInfo.tsx
  apps/sandbox/src/Components/useEditorTheme.ts
  apps/sandbox/src/Components/useHighlightStyle.ts
  apps/sandbox/src/theme.ts
  jest.config.ts
  package-lock.json
  package.json
  packages/comyata-fe/README.md
  packages/comyata-fe/package.json
  packages/comyata-run/README.md
  packages/comyata-run/package.json
  server/fe/README.md
  server/fe/package.json
  server/fe/src/FileEngine/setupFileEngine.ts
  server/fe/src/Lib/Watcher.ts
  sonar-project.properties
  tsconfig.json
Due: run, fe

sonar excl. example duplications
  sonar-project.properties
Due: none

sonar excl. example coverage;
  sonar-project.properties
Due: none

change output mutation to batched deferred; refine cross resolving;
  jest.config.ts
  packages/comyata-run/Runtime.ts
  packages/comyata-run/tests/Runtime-CrossResolving.test.ts
  packages/comyata-run/tests/Runtime-Errors.test.ts
  packages/comyata-run/tests/Runtime.test.ts
Due: run

allow custom toExpr in DataNodeJSONata; add tests for expr, fns;
  packages/comyata-fe/README.md
  packages/comyata-run/DataNodeJSONata.ts
  packages/comyata-run/Expr.ts
  packages/comyata-run/tests/Expr.test.ts
Due: run, fe

optimize computed hooks handling; no dataContext for not-computed nodes;
  packages/comyata-run/DataNode.ts
  packages/comyata-run/DataNodeJSONata.ts
  packages/comyata-run/Runtime.ts
  packages/comyata-run/tests/Parser.test.ts
  packages/comyata-run/tests/Runtime-Errors.test.ts
  packages/comyata-run/tests/Runtime.test.ts
Due: run

add experimental ValueProxy for circular node dependency detection;
  packages/comyata-run/Errors.ts
  packages/comyata-run/Runtime.ts
  packages/comyata-run/ValueProxy.ts
  packages/comyata-run/ValueSubscriberPromise.ts
  packages/comyata-run/tests/Runtime-CrossResolving.test.ts
Due: run

migrate file-engine + demos to ValueProxy; rm $parent data accessor;
  apps/minimal-runtime/.gitignore
  apps/minimal-runtime/package.json
  apps/minimal-runtime/src/index.ts
  apps/minimal-runtime/tsconfig.json
  apps/sandbox/src/Components/ComputeBindings/jsonataCompute.ts
  apps/sandbox/src/Components/ErrorBoundary.tsx
  apps/sandbox/src/Components/ErrorInfo.tsx
  apps/sandbox/src/Components/useComyataRuntime.ts
  apps/sandbox/src/Pages/PageHome.tsx
  apps/sandbox/src/Pages/PageStreaming.tsx
  jest.config.ts
  package.json
  packages/comyata-fe/FileEngineJsonata.ts
  packages/comyata-fe/tests/FileEngine-File.test.ts
  packages/comyata-fe/tests/mocks/hierarchical.yml
  packages/comyata-run/Parser.ts
  packages/comyata-run/Runtime.ts
  packages/comyata-run/ValueProxy.ts
  packages/comyata-run/ValueSubscriberPromise.ts
  packages/comyata-run/tests/Parser.test.ts
  packages/comyata-run/tests/Runtime-Jsdom.test.ts
  packages/comyata-run/tests/Runtime.test.ts
Due: run, fe

fix importers not using last-match for same start chars;
  packages/comyata-fe/Importers.ts
  packages/comyata-fe/tests/Importers.test.ts
Due: fe

make importer optional in FileEngine; mv DataRef to DataFileRegistry
  packages/comyata-fe/DataFileRegistry.ts
  packages/comyata-fe/FileEngine.ts
Due: fe

make RemoteImporter isomorphic; optimize ext/mime converter;
  packages/comyata-fe/Converter.ts
  packages/comyata-fe/Helpers/extname.ts
  packages/comyata-fe/Importer/FileImporter.ts
  packages/comyata-fe/Importer/RemoteImporter.ts
  packages/comyata-fe/tests/FileEngine-Importers.test.ts
  packages/comyata-fe/tests/Helpers-extname.test.ts
  packages/comyata-fe/tests/mocks/cards/quote_3
Due: fe

fix extname posix/win32 behaviour, add strictPosix option;
  packages/comyata-fe/Helpers/extname.ts
  packages/comyata-fe/tests/Helpers-extname.test.ts
Due: fe

make FileEngineJsonata isomorphic, rm `p` fns;
  packages/comyata-fe/FileEngineJsonata.ts
  packages/comyata-fe/tests/FileEngineJsonata.test.ts
Due: fe

more FileEngine Document/File/Context tests; rm unused helpers;
  packages/comyata-fe/FileEngine.ts
  packages/comyata-fe/Helpers/notRelativeUpwards.ts
  packages/comyata-fe/Helpers/stripRelative.ts
  packages/comyata-fe/tests/FileEngine-Context.test.ts
  packages/comyata-fe/tests/FileEngine-Document.test.ts
  packages/comyata-fe/tests/FileEngine-File.test.ts
  packages/comyata-fe/tests/FileEngine-Importers.test.ts
Due: fe

fe fix + add tests for CircularProcessingDependencyError;
  packages/comyata-fe/FileEngine.ts
  packages/comyata-fe/FileEngineJsonata.ts
  packages/comyata-fe/tests/FileEngine-CircularProcessingDependency.test.ts
  packages/comyata-fe/tests/FileEngine-Document.test.ts
Due: fe

readme; v-up;
  README.md
  apps/minimal-runtime/package.json
  apps/minimal-runtime/src/index.ts
  apps/sandbox/package.json
  package-lock.json
  package.json
  packages/comyata-fe/README.md
  packages/comyata-fe/package.json
  packages/comyata-run/README.md
  packages/comyata-run/package.json
  packages/comyata-run/tests/Parser.test.ts
  server/fe/package.json
Due: run, fe

ts noImplicitAny;
  apps/sandbox/src/Components/ComputeBindings/jsonataCompute.ts
  apps/sandbox/src/Components/ErrorBoundary.tsx
  apps/sandbox/src/Pages/PageStreaming.tsx
  packages/comyata-fe/FileEngine.ts
  packages/comyata-fe/Helpers/serializeUsages.ts
  tsconfig.json
Due: fe

fix: upgrade typescript from 5.3.3 to 5.8.3
  package-lock.json
  package.json
Due: none

fix: upgrade react-router from 6.28.0 to 6.30.0
  package-lock.json
  package.json
Due: none

fix: upgrade react-router-dom from 6.28.0 to 6.30.0
  package-lock.json
  package.json
Due: none

fix: upgrade nanoid from 5.0.9 to 5.1.5
  package-lock.json
  package.json
Due: none

fix: upgrade i18next-http-backend from 2.7.1 to 2.7.3
  package-lock.json
  package.json
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

update dev deps, ci: node24, ts5.8
  .eslintrc
  .github/workflows/blank.yml
  apps/sandbox/package.json
  package-lock.json
  package.json
  server/fe/package.json
Due: none

express v5
  package-lock.json
  server/fe/package.json
  server/fe/src/server.ts
Due: none

Path conditions:
  run: any of: packages/comyata-run/**
  fe: any of: packages/comyata-fe/**
